﻿html, body, head, div, ul, li, a, p, br, h1, h2, h3, h4, h5 { margin: 0px; padding: 0px; }
body, html{ height: 100%; background-color:#fff; }
li { list-style-type: none; }
a { text-decoration: none; }


/*container*/
.container { overflow: hidden; width: 1400px; margin: auto; }

/*ptitle*/
.ptitle { overflow: hidden; margin-top: 20px; }
.ptitle h1 { float: left; color: #790237; }
.ptitle p { float: right; }

/*pform*/
.form { font-weight: bold; }
.form label { display: block; }
.form p { margin: 15px 0px 10px 0px; }
#submit { cursor: pointer; display: inline-block; border: 1px solid #3490dc; color: #fff; background-color: #3490dc; padding: 0.375rem 0.75rem; font-size: 0.9rem; line-height: 1.6; border-radius: 0.25rem;}
.input { display: inline-block;	width: 50%; padding: 7px; font-size: 13px; line-height: 1.6; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; }
.product { background-color: #1d2127; color: #fff; padding: 10px; border: 1px solid transparent; cursor: pointer; }

.btn-delete { cursor: pointer; display: inline-block; border: 1px solid #f8d7da; color: #fff; background-color: #721c24; padding: 0.375rem 0.75rem; font-size: 0.9rem; line-height: 1.6; border-radius: 0.25rem; }

.alert {
	margin-top: 20px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/*products*/
.products { overflow: hidden; float: left; background: #ddd; border: 1px solid #1d2127; width: 300px; text-align: center; padding: 10px; margin: 13px; }
.products span { display: block; margin: 10px; font-size: 17px; color: #000; font-weight: bold; }
.products h2 { font-size: 18px; color: #790237; }

